* { padding: 0; margin: 0; }
canvas { background: #000000; display: block; margin: 0 auto; border:2px solid white }

label{
    font-size: medium;
    padding: 0.90624997em;
    color: black;
}

/* toggle in label designing */
.toggle {
    position : relative ;
    display : inline-block;
    width : 100px;
    height : 52px;
    background-color: red;
    border-radius: 30px;
    border: 2px solid black;
}

/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 46px;
    height: 46px;
    border-radius: 100%;
    background-color: black;
    top: 1px;
    left: 1px;
    transition:  all 0.5s;
}

/* Toggle text */
p {
    font-family: Verdana, sans-serif;
    font-weight: bold;
}

/* Checkbox cheked effect */
.checkbox:checked + .toggle::after {
    left : 49px;
}

/* Checkbox cheked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: green;
}

/* Checkbox vanished */
.checkbox {
    display : none;
    position: center;
    alignment: center;
}

* {
    box-sizing: border-box;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
}

.left, .right {
    width: 30%;
    padding: 0px;
}

.middle {
    width: 40%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

h2.headertext {
    text-align: center;
}
h3.headertext {
    text-align: center;
}

body {
    background-color: var(--primary-background);
    color: var(--primary-color);
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: auto;
}
.text{
    text-align: left;
    margin-top: 0px;
}
h4.headertext{
    text-align: center;
    margin-top: 200px;
}
.line{
    display: flex;
    justify-content: center;
}